
#header {
  height: 70px;
  line-height: 90px;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  font-family: "微软雅黑";
  text-align: center;
  letter-spacing: 1px;
}
#header a {
  color: white;
  font-size: 28px;
  font-weight: lighter;
  float: left;
  line-height: 90px;
}
#main {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 70px;
}
#main .all {
  margin-top: 5px;
  width: 100%;
  height: 180px;
}
#main .all > .login-password,
#main .all .second-password {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 45px;
  width: 100%;
  line-height: 45px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}
#main .all > .login-password span,
#main .all .second-password span {
  color: #555555;
  font-size: 14px;
  margin-left: 10px;
}
#main .all > .login-password #left,
#main .all .second-password #left {
  float: left;
  margin-left: 20px;
}
#main .all > .login-password #right,
#main .all .second-password #right {
  float: right;
  margin-right: 20px;
  line-height: 45px;
  font-size: 24px;
}
#main .loginPage {
  margin: 30px;
  margin-top: 50px;
  height: 50px;
  background-color: #188b65;
  text-align: center;
  line-height: 50px;
}
#main .loginPage a span {
  font-family: "微软雅黑";
  color: white;
  font-size: 14px;
}
