@import "base.less";
#header{
    height:70px;
    line-height: 80px;
    color: white;
    font-size:22px;
    padding: 0 10px;
    font-family: "KaiTi";
        text-align: center;
    a{
        color: white;
        font-size:28px;
        font-weight:lighter;
        float: left;
        line-height:80px;
    }
    .finish{
        float: right;
        font-size: 22px;
    }
}

#main{
    width: 100%;
//
    position: absolute;
    top:70px;
     .title{
           background-color:rgba(255,255,255,0.8);
        display: flex;
        justify-content: space-around;
        border-bottom:1px solid lightgray;
            li{
        float: left;
        font-size:12px;
        color: #555555;
        height: 40px;
        line-height: 40px;
        } 
     }
    .move-Info{
          background-color:rgba(255,255,255,0.8);
        display: flex;
        justify-content: space-around;
            li{
        float: left;
        font-size:12px;
        color: #555555;
        height: 40px;
        line-height: 40px;
     }
    }
}
#footer{
          position: fixed;
           bottom: 0; 
           height:35px;
           background-color: #008c68;
    .foot{
           height:100%;
           line-height:35px;
        display: flex;
        justify-content: space-around;
        border-bottom:1px solid lightgray;
            li{
        float: left;
        font-size:12px;
        color:white;
        } 
    }
}
